/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --font-color: #3a3a3a;
  --main-color: #0d6efd;
  --black: #000;
  --container: #fff;
}

body {
  background-color: var(--container);
}

a {
  color: var(--black);
}

.flex {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== MAIN ===============*/
main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 767px;
  height: 100vh;
  background-color: var(--container);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.main__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__title h1 {
  color: var(--main-color);
}

.main__title p {
  font-size: 13px;
  font-weight: 600;
}

.main__form {
  width: 100%;
}

.main__form form {
  padding: 0 1rem 1rem;
}

.input__group {
  margin-bottom: 10px;
}

.input__group a {
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: end;
  margin-top: 10px;
  color: #5271ff;
}

.input__group label {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 500;
}

.form__input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0 10px;
  border-radius: 15px;
  font-size: 1rem;
  position: relative;
}

.form__input .bx {
  font-size: 20px;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"] {
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  outline: none;
}

.show__password {
  text-align: end;
  font-size: 12px;
  margin-bottom: 10px;
}

.show__password a {
  color: #3498db;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}

.show__password a:hover {
  text-decoration: underline;
}

.button {
  justify-content: center;
  display: flex;
  align-items: center;
}

.regist-button {
  background-color: var(--main-color);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.main__span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.main__span span {
  margin: 0 2rem;
  border: 1px solid #afafaf;
  width: 100%;
  border-radius: 50px;
}

.main__span p {
  font-size: 13px;
  font-weight: 400;
}

.main__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.main__social img {
  width: 25px;
}

.main__bottom {
  font-size: 13px;
}

.main__bottom p {
  font-weight: 400;
}

.main__bottom a {
  color: #5271ff;
  text-decoration: solid;
}
